<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.roic.dialogue-recorder</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/node</string>
        <string>/Users/aa479881/Library/CloudStorage/OneDrive-IBM/Personal/development/roic/scripts/auto-dialogue-recorder.js</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/aa479881/Library/CloudStorage/OneDrive-IBM/Personal/development/roic</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/aa479881/Library/CloudStorage/OneDrive-IBM/Personal/development/roic/dialogue-recorder.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/aa479881/Library/CloudStorage/OneDrive-IBM/Personal/development/roic/dialogue-recorder-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>